@page "/"

<PageTitle>Index</PageTitle>
<p class="text-center"><img src="images/S&W_Logo.jpg"/></p>
<h1 class="text-center">Welcome to My health Store</h1>

<p class="text-center">S&W Is focused On Giving you the best supplements to optimize your Fitness, Family, Realationship with food<br /> head On over to the shopping cart to pick you favorite items.</p>

<div class="row">
    <div class="col-4">
        <img src="images/fitness.jpg"  width="400px"/>
    </div>
    <div class="col-4"><img src="images/OIP.jpg" width="400px"/></div>
    <div class="col-4"><img src="images/th.jpg" width="400px" /></div>
</div>

